.container {
  padding: 0 2rem;
}

.formContent{
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}
.header{
  border: 1px solid white;
  padding: 20px;
  background-color: skyblue;
  margin-bottom: 20px;
}

.inputForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  position: relative;
}

.input{
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 25px;
  border: none;
  outline: none;
  padding-bottom:2px;
  font-size: 30px;
  border-bottom: 1px solid blue;
}

.textArea{
  padding: 25px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 15px;
  font-size: 30px;
  border-left: 1px solid blue;
}

.button{
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  font-size: 20px;
  bottom: -20px;
  right: 0;
}

.button:hover{
  cursor: pointer;
}

.button:active{
  background-color: white;
  color: black;
}

.phoneNumber{
  border-radius: 15px;
}


.alert{
  color: white;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 15px;
}
